.header__logo{
  max-width: 142px;
  max-height: 33px;
  padding-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 1280px){
  .header__logo{
    padding-bottom: calc(31px + (41 - 31) * ((100vw - 320px) / (1280 - 320)));
    max-width: calc(103px + (142 - 103) * ((100vw - 320px) / (1280 - 320)));
    max-height: calc(24px + (33 - 24) * ((100vw - 320px) / (1280 - 320)));
  }
}
@media screen and (max-width: 920px){
  .header__logo{
    padding-left: calc(27px + (20 - 27) * ((100vw - 320px) / (880 - 320)));
  }
}
