.profile{
  max-width: 880px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media screen and (max-width: 750px){
  .profile{
    flex-direction: column;
    justify-items: center;
    align-content: space-between;
    margin-bottom: calc(36px + (50 - 36) * ((100vw - 320px) / (880 - 320)));
  }
}
