.autorization__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 1280px){
    .autorization__title{
      line-height: calc(24px + (29 - 24) * ((100vw - 320px) / (1280 - 320)));
      font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1280 - 320)));
      margin-top: calc(0px + (20 - 0) * ((100vw - 320px) / (1280 - 320)));;
      margin-bottom: calc(38px + (50 - 38) * ((100vw - 320px) / (1280 - 320)));;
    }
  }