.header__burger{
    width: 24px;
    height: 21px;
    position: absolute;
    right: 30px;
    background-image: url(../../../images/burger.png);
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    visibility: hidden;
}

@media screen and (max-width: 450px){
    .header__burger{
      visibility: visible;
    }
  }