.header__login{
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  line-height: 22px;
  margin-right: 24px;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 450px){
  .header__login{
    visibility: hidden;
  }
}