.header__menu{
    /* width: 24px;
    height: 21px;
    position: absolute;
    right: 30px;
    background-image: url(../../../images/Group\ 8.png);
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer; */
}

