.popup__container{
  margin: auto;
  width: 358px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0 36px;
}
@media screen and (max-width: 534px){
  .popup__container{
    width: calc(238px + (358 - 238) * ((100vw - 320px) / (534 - 320)));
    padding: 0 calc(22px + (36 - 22) * ((100vw - 320px) / (534 - 320)));
  }
}