.authorization__login-text{
    font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
  cursor: pointer;
  margin: 15px auto;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.authorization__login-text:hover {
    opacity: 0.8;
  }