.popup__input{
  border: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  outline: 0;
}


@media screen and (max-width: 534px){
  .popup__input{
    width: calc(238px + (358 - 238) * ((100vw - 320px) / (534 - 320)));
  }
}
